@model IEnumerable<ListUserDTO>
@{
    ViewData["Title"] = "Kullanicilar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">Dashboard</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Dashboard</a></li>
                            <li class="breadcrumb-item active">Kullanıcılar</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->
        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title"><a asp-controller="Account" asp-action="Register">Yeni Kullanıcı Eklemek için Tıklayın</a></h3>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <table id="example2" class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>User Name</th>
                                            <th>Email</th>
                                            <th>Firma</th>
                                            <th>Status</th>
                                            <th>Düzenle</th>
                                            <th>Sil</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@item.UserName</td>
                                                <td>@item.Email</td>
                                                <td>@item.Companies.CompanyName</td>
                                                <td>@item.Status</td>

                                                <td><a asp-controller="Home" asp-action="KullaniciDuzenle" asp-route-id="@item.Id">Düzenle</a></td>
                                                <td><a asp-controller="Home" asp-action="KullaniciSil" asp-route-id="@item.Id">Sil</a></td>
                                            </tr>
                                        }


                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>User Name</th>
                                            <th>Email</th>
                                            <th>Firma</th>
                                            <th>Status</th>
                                            <th>Düzenle</th>
                                            <th>Sil</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <!-- /.card-body -->
                        </div>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>

 
